<!-- content -->
<div class="wrapper row2">
  <div id="container" class="clear">
    <section id="slider"><a href="#"><img src="images/demo/960x360.gif" alt=""></a></section>
    <!-- content body -->
    <aside id="left_column">
      <h2 class="title">Your assets:</h2>
      <!-- FARMER MENU -->
      <section *ngIf="farmer">
          <nav>
              <ul>
                <li><a routerLink="/plantation">Plantations</a></li>
                <li><a routerLink="/farming">Farming processes</a></li>
                <li class="last"><a routerLink="/myBatch">My batches</a></li>
              </ul>
            </nav>
      </section>
      <!-- MAKER MENU -->
      <section *ngIf="maker">
          <nav>
              <ul>
                <li><a routerLink="/basement">Basements</a></li>
                <li><a routerLink="/productionProcess">Production processes</a></li>
                <li><a routerLink="/myBatch">My batches</a></li>
                <li><a routerLink="/myProduct">My products</a></li>
              </ul>
            </nav>
      </section>
      <!-- COURIER MENU -->
      <section *ngIf="courier">
          <nav>
              <ul>
                <li><a href="#">Batches shipments</a></li>
                <li><a href="#">Products shipment</a></li>
                <li><a routerLink="/myBatch">My batches</a></li>
                <li class="last"><a routerLink="/myProduct">My products</a></li>
              </ul>
            </nav>
      </section>
      <!-- SELLER MENU -->
      <section *ngIf="seller">
          <nav>
              <ul>
                <li><a routerLink="/shop">Shops</a></li>
                <li><a routerLink="/order">Orders</a></li>
                <li class="last"><a routerLink="/myProduct">My products</a></li>
              </ul>
            </nav>
      </section>
      <h2 class="title">Your informations:</h2>
      <section class="last">
        <address style="font-size: medium; text-decoration-color: black">
        ID: {{id}}<br>
        Full Name: {{name}} {{surname}}<br>
        Address: {{address}}<br>
        <br>
        <br>
        Tel: {{telephone}}<br>
        Email: <a href="#">{{email}}</a>
        </address>
      </section>
      <!-- /section -->
    </aside>
    <!-- main content -->
    <div id="content">
      <article>
        <h2>MY FARMING PROCESSES:</h2>
        <p></p>

            <div class="table">
              <div class="table-header">
                <div class="header__item">PLANTATION ID</div>
                <div class="header__item">LATITUDE</div>
                <div class="header__item">LONGITUDE</div>
              </div>

              <div *ngFor="let plantation of plantations" class="table-row">		
                  <div class="table-data">{{plantation.plantationId}}</div>
                  <div class="table-data">{{plantation.latitude}}</div>
                  <div class="table-data">{{plantation.longitude}}</div>
              </div>	
            </div>
          </article>
          <article  align="center">
            <section *ngIf="!createNew"> 
                <form class="login-form" form (ngSubmit)="onCreateNew()" #createForm="ngForm">
                    <div class="box"><button class="btn1">CREATE NEW</button></div>
                </form>
            </section>
            <section *ngIf="createNew">
                <div class="login-page">
                    <div class="form">
                      <form class="login-form" form (ngSubmit)="createNewPlanatation()" #batchForm="ngForm">
                        <input type="text" [(ngModel)]="latitude" #firstName="ngModel" name="latitude" placeholder="Plantation latitude"/>
                        <input type="text" [(ngModel)]="longitude" #firstName="ngModel" name="longitude" placeholder="Plantation longitude"/>
                        <button>ADD PLANTATION</button>
                      </form>
                    </div>
                  </div>
            </section>   
          </article>
    </div>
    <!-- / content body -->
  </div>
</div>